<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.localz.spotz.app">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.localz.spotz.app.activities.LaunchActivity"
            android:label="@string/title_activity_launch"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- These services must be defined in your app to enable background scanning -->
        <service android:name="com.localz.proximity.ble.services.BleHeartbeat"/>

        <!-- Optional. Define this if you want to receive callbacks from background scans.
                    The intent filter action is <your package>.LOCALZ_BLE_SCAN_FOUND so that it stays
                    unique to your app. -->
        <receiver android:name=".activities.LaunchActivity$OnBeaconDiscoveredBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.localz.spotz.app.LOCALZ_BLE_SCAN_FOUND" />
            </intent-filter>
        </receiver>

        <receiver android:name=".activities.LaunchActivity$OnBeaconDiscoveryFinishedBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.localz.spotz.app.LOCALZ_BLE_SCAN_FINISH" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
